body{
    margin: 0;
    padding: 0;
}

.showcase{
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../mac.webp);
    height: 100vh;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}


.navbar{
    float: right;
}

ul li{
    display: inline-block;
    margin: 20px 20px;
    font-size: 1.3em;
    font-family: Angelina Demo;
}

ul li a{
    text-decoration: none;
    color: #fff;
    
}

.wel p{
    font-family: wkwkwk;
    font-size: 2.5em;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 20%;
    right: 20%;
    text-transform: -50%, -50%;
    justify-content: center;
    text-align: center;
}

.head-img{
    background-image:url(/services/prog.jpg);
    background-size: cover;
    height: 65vh;
    position: relative;
    background-attachment: fixed;
}

.web-design{
    padding: 2em;
    height: 8em;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    background-color: teal;
}

.second-head{
    background: url(/services/black-pencils-and-design-word-6444.jpg);
    height: 65vh;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.graphic-section{
    padding: 2em;
    height: 8em;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    background-color: slategray;
}

.third-head{
    background: url(/services/mobiledev.jpg);
    height: 65vh;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.UI-section{
    padding: 2em;
    height: 8em;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    background-color: dimgrey;
}


.button, .button-s{
    display: inline;
    border: 1px solid #fefefe;
    border-radius: 100px;
    padding: .4em;
    font-size: .7em;
    width: 30%;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    margin: 20px;

}

.button:hover{
    color: teal;
    background-color: khaki;
    border: transparent;
}

.button-s:hover{
    color: slategray;
    background-color: whitesmoke;
    border: none;
    
}

.last-show{
    background: black;
    height: 2em;
    color: white;
    padding: .3em;
    text-align: center;
}